In [3]:
import dwong
import csv
import pandas as pd
import numpy as np

In [4]:
def gen_csv(name):
    dwong.os.chdir("/Users/wongdowling/Desktop/DQ_Dowling/ntuple_1000")
    wew=dwong.gen_wew(dwong.evt_1000[name])
    wid=dwong.gen_wid(dwong.evt_1000[name])
    diff=dwong.matchup(dwong.evt_1000[name])
    out_path="/Users/wongdowling/Desktop/DQ_Dowling/electron/csv/"
    mergedT_x = tuple(zip(wew[0], wid[0], tuple(diff[0])))
    mergedT_y = tuple(zip(wew[1], wid[1], tuple(diff[1])))
    with open('%s%s_x.csv'%(out_path, name), 'w', encoding='UTF8', newline='') as file:
        writer = csv.writer(file)
        writer.writerow(mergedT_x)
    with open('%s%s_y.csv'%(out_path, name), 'w', encoding='UTF8', newline='') as file:
        writer = csv.writer(file)
        writer.writerow(mergedT_y)

In [18]:
def wew_csv():
    dwong.os.chdir("/Users/wongdowling/Desktop/DQ_Dowling/ntuple_1000")
    out_path="/Users/wongdowling/Desktop/DQ_Dowling/electron/csv/"
    types=[ "electron", "muon", "pi+", "pi-", "pi0", "positron", "photon"]#kaon only have 529 wew
    wew_x=[]
    wew_y=[]
    for item in types:
        wew=dwong.gen_wew(dwong.evt_1000[item])
        wew_x.append(wew[0])
        wew_y.append(wew[1])
    with open('%swew_x.csv'%out_path, 'w', encoding='UTF8') as f1:
        writer = csv.writer(f1)
        writer.writerow(types)
        writer.writerows([*zip(*wew_x)])
        
    with open('%swew_y.csv'%out_path, 'w', encoding='UTF8') as f2:
        writer = csv.writer(f2)
        writer.writerow(types)
        writer.writerows([*zip(*wew_y)])

In [24]:
def wid_csv():
    dwong.os.chdir("/Users/wongdowling/Desktop/DQ_Dowling/ntuple_1000")
    out_path="/Users/wongdowling/Desktop/DQ_Dowling/electron/csv/"
    types=[ "electron", "muon", "pi+", "pi-", "pi0", "positron", "photon"]#kaon only have 529 wew
    wid_x=[]
    wid_y=[]
    for item in types:
        wid=dwong.gen_wid(dwong.evt_1000[item])
        wid_x.append(wid[0])
        wid_y.append(wid[1])
    with open('%swid_x.csv'%out_path, 'w', encoding='UTF8') as f1:
        writer = csv.writer(f1)
        writer.writerow(types)
        writer.writerows([*zip(*wid_x)])
        
    with open('%swid_y.csv'%out_path, 'w', encoding='UTF8') as f2:
        writer = csv.writer(f2)
        writer.writerow(types)
        writer.writerows([*zip(*wid_y)])

In [83]:
data=pd.read_csv('%s%s_x.csv'%(out_path, name))

In [68]:
mergedT_x = tuple(zip(wew[0], wid[0], tuple(diff[0])))
mergedT_y = tuple(zip(wew[1], wid[1], tuple(diff[1])))

In [3]:
theArray = [['a','b','c'],['d','e','f'],['g','h','i']]
[*zip(*theArray)]

[('a', 'd', 'g'), ('b', 'e', 'h'), ('c', 'f', 'i')]

In [19]:
wew_csv()

In [5]:
gen_csv("muon")

In [20]:
dwong.os.chdir("/Users/wongdowling/Desktop/DQ_Dowling/electron/csv/")
data=pd.read_csv("wew_x.csv")
data

,electron,muon,pi+,pi-,pi0,positron,photon
0,1.584334,0.000000e+00,4.947201,0.000000,11.510823,6.058107,1.766615
1,2.007739,0.000000e+00,4.896044,6.467039,4.763372,1.580475,1.512413
2,3.126703,1.776357e-15,5.534215,0.000000,3.181674,1.792326,2.209943
3,5.345500,0.000000e+00,3.750063,0.000000,5.614362,1.707669,1.658772
4,2.276824,0.000000e+00,1.933133,0.000000,3.210410,1.805074,1.613892
...,...,...,...,...,...,...,...
995,2.838689,0.000000e+00,0.000000,0.000000,4.956269,1.471577,1.530283
996,1.438277,0.000000e+00,0.000000,3.432171,3.546032,3.167073,1.681130
997,1.295717,0.000000e+00,2.601671,3.614901,7.391370,8.893380,3.028493
998,1.863859,5.412028e+00,1.101909,3.337985,1.260826,2.162294,12.316677
999,1.828902,6.326333e-01,0.000000,2.322725,1.604084,1.864240,2.978270

In [27]:
dwong.os.chdir("/Users/wongdowling/Desktop/DQ_Dowling/ntuple_1000")
out_path="/Users/wongdowling/Desktop/DQ_Dowling/electron/csv/"
types=[ "electron", "muon", "pi+", "pi-", "pi0", "positron", "photon", "klong"]
wid_x=[]
wid_y=[]
for item in types:
    wew=dwong.gen_wid(dwong.evt_1000[item])
    wew_x.append(wew[0])
    wew_y.append(wew[1])

In [28]:

for i in range(len(wew_y)):
    print(len(wew_y[i]))

1000
1000
1000
1000
1000
1000
1000
529
1000
1000
1000
1000
1000
1000
1000
529

In [7]:
dwong.os.chdir("/Users/wongdowling/Desktop/DQ_Dowling/electron/csv/")
data=pd.read_csv("muon_x.csv")
data

Empty DataFrame
Columns: [(0.0, 0.0, <Array [5.54] type='1 * float32'>), (0.0, 0.0, <Array [1.36] type='1 * float32'>), (1.7763568394002505e-15, 0.0, <Array [4] type='1 * float32'>), (0.0, 0.0, <Array [5.07] type='1 * float32'>), (0.0, 0.0, <Array [1.89] type='1 * float32'>), (0.6458590268798613, 2.7650000000000006, <Array [1.65] type='1 * float32'>), (0.8898121271051045, 2.7650000000000006, <Array [5.79] type='1 * float32'>), (0.0, 0.0, <Array [2.43] type='1 * float32'>), (0.6999896104835232, 2.6068669999744056, <Array [5.04] type='1 * float32'>), (0.0, 0.0, <Array [3.61] type='1 * float32'>), (0.0, 0.0, <Array [4.69] type='1 * float32'>), (0.0, 0.0, <Array [1.47] type='1 * float32'>), (0.0, 0.0, <Array [5.87] type='1 * float32'>), (0.0, 0.0, <Array [6.1] type='1 * float32'>), (0.0, 0.0, <Array [2.21] type='1 * float32'>), (0.0, 0.0, <Array [4.1] type='1 * float32'>), (0.0, 0.0, <Array [3.35] type='1 * float32'>), (0.0, 0.0, <Array [3.1] type='1 * float32'>), (0.0, 0.0, <Array [2.19] type='1 * float32'>), (1.2373375085541174, 5.901546172167277, <Array [4.47] type='1 * float32'>), (0.0, 0.0, <Array [2.45] type='1 * float32'>), (0.0, 0.0, <Array [2.71] type='1 * float32'>), (2.7984245924232667, 8.295000000000002, <Array [3.56] type='1 * float32'>), (0.0, 0.0, <Array [4.55] type='1 * float32'>), (0.906624170058477, 2.7650000000000006, <Array [2.12] type='1 * float32'>), (0.0, 0.0, <Array [4.91] type='1 * float32'>), (0.0, 0.0, <Array [4.68] type='1 * float32'>), (0.691467138920611, 2.7650000000000006, <Array [5.78] type='1 * float32'>), (0.0, 0.0, <Array [3.26] type='1 * float32'>), (0.0, 0.0, <Array [3.03] type='1 * float32'>), (0.0, 0.0, <Array [4.51] type='1 * float32'>), (0.0, 0.0, <Array [3.76] type='1 * float32'>), (0.8132479036047817, 2.7650000000000006, <Array [2.1] type='1 * float32'>), (0.7398012136497555, 3.910300499961609, <Array [3.62] type='1 * float32'>), (0.0, 0.0, <Array [5.44] type='1 * float32'>), (0.0, 0.0, <Array [3.25] type='1 * float32'>), (0.0, 0.0, <Array [5.36] type='1 * float32'>), (0.0, 0.0, <Array [5.34] type='1 * float32'>), (8.881784197001252e-16, 0.0, <Array [1.87] type='1 * float32'>), (8.881784197001252e-16, 0.0, <Array [1.22] type='1 * float32'>), (2.5832438719883197, 2.6068669999744056, <Array [2.85] type='1 * float32'>), (0.0, 0.0, <Array [3.69] type='1 * float32'>), (0.6548498546212236, 2.7650000000000006, <Array [3.65] type='1 * float32'>), (0.5157953372556862, 2.7650000000000006, <Array [5.9] type='1 * float32'>), (0.0, 0.0, <Array [5.63] type='1 * float32'>), (0.7927666888520328, 2.6068669999744056, <Array [4.88] type='1 * float32'>), (1.7763568394002505e-15, 0.0, <Array [2.43] type='1 * float32'>), (0.0, 0.0, <Array [2.43] type='1 * float32'>).1, (0.0, 0.0, <Array [4.56] type='1 * float32'>), (1.0647716577578419, 2.7091356555181956, <Array [3.36] type='1 * float32'>), (0.0, 0.0, <Array [4.72] type='1 * float32'>), (1.0355628332662496, 2.7650000000000006, <Array [6.11] type='1 * float32'>), (0.0, 0.0, <Array [2.76] type='1 * float32'>), (0.9724631327276957, 2.7650000000000006, <Array [1.7] type='1 * float32'>), (0.5234211835810341, 2.6068669999744056, <Array [4.9] type='1 * float32'>), (0.0, 0.0, <Array [3.2] type='1 * float32'>), (0.0, 0.0, <Array [4.02] type='1 * float32'>), (0.0, 0.0, <Array [5.1] type='1 * float32'>), (8.070830256927103, 8.127406966554586, <Array [7.19] type='1 * float32'>), (0.0, 0.0, <Array [2.06] type='1 * float32'>), (0.0, 0.0, <Array [3.39] type='1 * float32'>), (0.0, 0.0, <Array [3.03] type='1 * float32'>).1, (0.0, 0.0, <Array [2.31] type='1 * float32'>), (0.0, 0.0, <Array [3.48] type='1 * float32'>), (0.0, 0.0, <Array [4.06] type='1 * float32'>), (0.0, 0.0, <Array [2.13] type='1 * float32'>), (0.0, 0.0, <Array [1.92] type='1 * float32'>), (0.0, 0.0, <Array [2.22] type='1 * float32'>), (0.0, 0.0, <Array [3.76] type='1 * float32'>).1, (2.4666715289457497, 4.515226092530326, <Array [2.27] type='1 * float32'>), (0.0, 0.0, <Array [1.8] type='1 * float32'>), (0.0, 0.0, <Array [3.11] type='1 * float32'>), (0.0, 0.0, <Array [4.56] type='1 * float32'>).1, (0.0, 0.0, <Array [3.23] type='1 * float32'>), (0.0, 0.0, <Array [3.32] type='1 * float32'>), (0.6063827586475332, 2.6068669999744056, <Array [2.58] type='1 * float32'>), (0.5321628683248931, 2.7650000000000006, <Array [1.35] type='1 * float32'>), (0.0, 0.0, <Array [3.19] type='1 * float32'>), (0.0, 0.0, <Array [1.86] type='1 * float32'>), (1.3652211484923729, 2.7650000000000006, <Array [1.52] type='1 * float32'>), (0.0, 0.0, <Array [2.46] type='1 * float32'>), (0.0, 0.0, <Array [3.44] type='1 * float32'>), (0.0, 0.0, <Array [5.17] type='1 * float32'>), (0.0, 0.0, <Array [5.34] type='1 * float32'>).1, (0.0, 0.0, <Array [5.01] type='1 * float32'>), (0.0, 0.0, <Array [5.28] type='1 * float32'>), (0.0, 0.0, <Array [4.93] type='1 * float32'>), (0.0, 0.0, <Array [4.36] type='1 * float32'>), (0.0, 0.0, <Array [6.21] type='1 * float32'>), (0.0, 0.0, <Array [4.02] type='1 * float32'>).1, (0.7167443452921439, 2.7650000000000006, <Array [5.75] type='1 * float32'>), (0.0, 0.0, <Array [5.39] type='1 * float32'>), (0.0, 0.0, <Array [2.6] type='1 * float32'>), (0.736973047421646, 2.7650000000000006, <Array [5.23] type='1 * float32'>), (0.0, 0.0, <Array [3.95] type='1 * float32'>), (1.7763568394002505e-15, 0.0, <Array [2.7] type='1 * float32'>), (0.0, 0.0, <Array [3.65] type='1 * float32'>), (0.0, 0.0, <Array [1.18] type='1 * float32'>), (0.0, 0.0, <Array [4.68] type='1 * float32'>).1, (1.7487492286799406, 6.8971217829533, <Array [4.63] type='1 * float32'>), ...]
Index: []

[0 rows x 1000 columns]